*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: #0A0F1E;
    color:#fff;
    font-family:pappins, sans-sarif;
    font-size:16px;
}
header{
    margin:10px;
    padding:10px;
}
.nav-links{
    color:#1E90FF;
    margin:1px;
    padding-top:-20px;
    padding-left: 1050px;
    padding-right: 5px;
    padding-bottom: 10px;
    display: flex;
    white-space: nowrap;
    align-items:right;
    justify-content: center;
    list-style: none;
    font-size: 20px;

}
nav ul li a{
    color: #1E90FF;
}
.intro-container{
    margin:0px;
    padding: 0%;
    padding-left: 2px;
    
}
intro-text h2{
    font-size: 30px;
    color:#fff;
    text-align: left;
    margin: 10px;
    padding: 0px;
}
.name span{
    color: #1E90FF;
    font-size: 30px;
}
.para{
    padding: 10px;
    color:#fff;
    font-size: 20px;;
}

.job{
    color: #1E90FF;
    font-size: 50px;
}
.space{
    margin:5px;
    padding:5px;
    color:#1E90FF;
}
 nav h1{
    text-align:center;;
    justify-content: center;
    font-size: 35px;;
}
main{
    margin:0px;
    padding:80px;
    text-align:left;
    justify-content:left;
    width:100%;
    height: 500px;
}

.img{
      margin-top: 0px;
      padding:0px;
      padding-bottom:80px ;
      padding-top: 10px;
     padding-left: 80px;
     padding-right: 180px;
    
}

img{
    height:300px;
    width:300px;
    border-radius: 150px;
    
    
    
}
hr{
    color:#1E90FF;
}
footer{
    text-align:center;
    padding:10px;
}


/*about page*/
.me{
    color: #1E90FF;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
.about{
    width:100%;
    margin:0px;
    padding: 0px;
    padding-top: 0px;
    font-size: 20px;
    font-family: poppins;
    color:#fff;
    text-align: center;
    word-wrap: break-word;
   
}

.about h2{
    padding: 20px;
    padding-top: 0px;
    color:#1E90FF;
    font-size: 40px;

}
.about p{

    font-size: 20px;
    word-wrap: break-word;
    color:#fff;
    text-align: left;
    padding-bottom: 20px;
}

.skills{
    margin:40px;
    text-align: center;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    color:#1E90FF;
    font-size: 20px;
}
.skill-list{
    color:#fff;
    
}
.center{
    margin:1px;
    padding-left: 500px;
    padding-right: 500px;
    display: flex;
    white-space: nowrap;
    align-items:center;
    text-align: center;
    justify-content: center;
    list-style: none;
    font-size: 20px;
}
.space{
    margin:20px;
    padding:20px;
    color:#fff;
}

/* Project page*/
.project{
    margin:0px;
    padding-top: 2px;
    padding:0px;
    padding-bottom: 5px;
    color:#1E90FF;
    font-size: 40px;
    text-align: center;
}

.project-links{
    margin:10px;
    padding:20px;
    

}

/*contact page*/
.contact-main{
    text-align: center;
}
.contact{
    margin:10px;
    padding:10px;
    padding-top: 0px;
    color:#1E90FF;
    font-size: 40px;
    padding-bottom: 10px;
}

.text{
    margin:10px;
    padding:10px;
    color:#fff;
    font-size:20px;
}

form{
    width: 100%;
    height:100%;
    margin:0px;
    padding:0px;
    padding-top: 2px;
    color:#fff;
    font-size:20px;
    text-align:center;
    border-radius: 2px;
}
.form{
    margin: 10px;
    padding: 5px;
    height:100%;
    width:100%;
    font-size: 20px;
   

}
.form input{
    font-size: 20px;
    border-radius: 5px;
}

button{
    background-color: #1E90FF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    padding-bottom: 5px;
}